<div class="form-container">
  <div *ngIf="!showSuccessMessage; else successTemplate" class="centered">
    <h2>Sign up</h2>
    <h4>Join us by filling the form</h4>
    <hr />
    <form [formGroup]="signUpForm">
      <div class="form-group">
        <label for="firstName">First name</label>
        <input
          type="text"
          id="firstName"
          placeholder="Enter your first name"
          formControlName="firstName"
        />
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input
          type="text"
          id="lastName"
          placeholder="Enter your last name"
          formControlName="lastName"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          placeholder="Enter your email"
          formControlName="email"
        />
        <div
          *ngIf="isSubmitted && signUpForm.get('email')?.invalid"
          class="error-text">
          <small *ngIf="signUpForm.get('email')?.errors?.['required']">
            email is required
          </small>
          <small *ngIf="signUpForm.get('email')?.errors?.['email']"
            >enter a valid email</small>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-wrapper">
        <input
          [type]="isPasswordVisible ? 'text' : 'password'"
          id="password"
          placeholder="Enter your password"
          formControlName="password"
        />
        <span class="toggle-icon" [class.disabled-icon]="!signUpForm.get('password')?.value" (click)="signUpForm.get('password')?.value && togglePassword()">{{ isPasswordVisible ? '👁️‍🗨️' : '👁️' }}</span>
        </div>
        <div
          *ngIf="isSubmitted && signUpForm.get('password')?.invalid"
          class="error-text">
          <small *ngIf="signUpForm.get('password')?.errors?.['required']">
            password is required
          </small>
          <small *ngIf="signUpForm.get('password')?.errors?.['minlength']"
          >password must contain at least 6 characters.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <div class="input-wrapper">
        <input
          [type]="isConfirmPasswordVisible ? 'text' : 'password'"
          id="confirmPassword"
          placeholder="Confirm your password"
          formControlName="confirmPassword"
        />
        <span class="toggle-icon" [class.disabled-icon]="!signUpForm.get('confirmPassword')?.value" (click)="signUpForm.get('confirmPassword')?.value && toggleConfirmPassword()">{{ isConfirmPasswordVisible ? '👁️‍🗨️' : '👁️' }}</span>
      </div>
        <div
          *ngIf="isSubmitted && signUpForm.get('confirmPassword')?.invalid"
          class="error-text">
          <small
            *ngIf="signUpForm.get('confirmPassword')?.errors?.['required']">
            please confirm your password
          </small>
          <small *ngIf="signUpForm.get('confirmPassword')?.errors?.['mismatch']"
          >passwords do not match</small>
        </div>
      </div>
      <button type="button" (click)="onSubmit()">Submit</button>
    </form>
    <small>Already have an account?</small>
    <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
</div>
</div>

<ng-template #successTemplate>
<div class="centered">
  <h2>Account Created!</h2>
  <p>Redirecting you to the login page...</p>
  </div>
</ng-template>