
<div class="form-container">
    <div class="centered">
      <h2>Log in</h2>
      <hr />
      <form [formGroup]="logInForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            placeholder="Enter your email"
            formControlName="email"
          />
          <div *ngIf = "isSubmitted && logInForm.get('email')?.invalid" class="error-text">
            <small *ngIf="logInForm.get('email')?.errors?.['required']">
              email is required
            </small>
            <small *ngIf="logInForm.get('email')?.errors?.['email']"
              >enter a valid email</small
            >
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <div class="input-wrapper">
          <input
          [type]="isPasswordVisible ? 'text' : 'password'"
            id="password"
            placeholder="Enter your password"
            formControlName="password"
          />
          <span class="toggle-icon" (click)="togglePassword()">{{ isPasswordVisible ? '👁️‍🗨️' : '👁️' }}</span>
        </div>
          <div *ngIf = "isSubmitted && logInForm.get('password')?.invalid" class="error-text">
            <small *ngIf="logInForm.get('password')?.errors?.['required']">
              password is required
            </small>
          </div>
        </div>
        <button type="button" (click)="onLogin()">Log in</button>
      </form>
      <small>Don't have an account?</small>
      <a [routerLink]="['/signup']" routerLinkActive="router-link-active" >Sign Up</a>
    </div>
  </div>
  